.UserInputBox {
  border: 3px solid red;
  max-width: 2000px;
  min-width: 100px;
}
body {
  margin: 50px;
}
.UserInputBox .control {
  border: 3px solid red;
  display: inline-flex;
}
.UserInputBox .select {
  border: 3px solid red;
  display: inline-flex;
}
